
/* Home page*/

.intro {
    height: 90vh;
    background-color: var(--newPrimary);
    position: relative;

  }
  
  #tsparticles{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:0;
    
  }

  .homeview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
  }


  .titleview{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 40%;
      z-index:2;
  }
 
  
  .mtitle {
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size:clamp(3rem,3.2vw,3.5rem);
    color: var(--newText);
  }

  .ttitle{
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size:clamp(2rem,2.8vw,3rem);
    color: var(--newText);
  }
  
  .coloredtitle{
    color:var(--newSecondary);
  }
  
  .stitle {
    font-family: var(--secondaryFont);
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--newText);
  }
  
  .abtbtn {
    margin-top: 20px;
    font-family:  var(--secondaryFont);
    border: 2px solid var(--newSecondary);
    background-color: var(--newSecondary);
    padding: 10px 50px;
    color: white;
    border-radius:10px;
    transition: var(--transition);
  }
  
  .abtbtn:hover {
    background-color: transparent;
    color: var(--newSecondary);
    cursor: pointer;
    
  }
  
  /* Home page End*/
  