:root {
    --primary: #6937FF;
    --secondary:  #141C3A;
    --button-1:#6937FF;
    --other-1:#DD4B25;
    --transition: all 0.3s linear;
  }
  @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  
.intro{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 15%;
    margin-bottom: 50px;
}


#main-image{
    margin-top: 100px;
    height: 500px; 
    width: 750px;
}

#mtitle {
    font: normal normal bold 50px Saira;
    color: #141C3A;
}

#stitle {
    margin-top: 20px;
    font: normal 20px Jost;
    color: #141C3A;
}

.abtbtn{
    font: normal 20px  Jost;
    border: 2px solid var(--primary);
    background-color: var(--button-1);
    padding: 10px 50px;
    color: white;
    border-radius: 50px;
    margin-top: 100px;
}

.abtbtn:hover{
    background-color: white;
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.abtback{
    background-color: var(--primary);
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 15%;
    color: white;
}

.about h2{
    align-self: start;
    color: white;
    font: normal normal bold 40px / 80px Saira;
}

.abouttext{
    align-self: start;
    margin-top: 20px;
    color: white;
    text-align: justify;
    font: normal normal  25px / 36px Jost;
}

.button-resume{
    align-self: start;
    margin-top: 50px;
    padding: 15px 60px;
    background-color: transparent ;
    border: 2px solid white;
    border-radius: 50px;
    font: normal normal bold 20px  Jost;
    color: white;

}


.button-resume:hover{
    background-color: white ;
    border-radius: 50px;
    font: normal normal bold 20px  Jost;
    color:var(--primary);
    transition: all 0.3s ease 0s;

}

.skills, .timeline, .projects{
    padding: 3% 15%;
}

.skill, .timetitle, .projtitle{
    font: normal normal bold 50px Saira;
    color: #141C3A;
}

.skilltitle{
    font: normal 20px Jost;
    color: #141C3A;
}

.skilllist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skillcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0px;
    height:150px;
    width:245px;
    box-shadow: -1px 1px 21px -14px rgba(0,0,0,0.64);
    border-radius: 5px;
    text-align: center;
    
}

.cardlogo{
    font-size: 60px;
}



.cardtitle{
    font: normal normal bold 30px jost;
    color: #141C3A;
}

.level{
    font: normal normal  16px Saira;
    color: #141C3A;
}

.html{
    color:#DD4B25;
}
.css{
    color:#254bdd;
}
.boot{
    color:#5e2ca7;
}
.django{
    color:#2aa473;
}
.javascript{
    color:#efd81d;
}
.react{
    color:#61DBFB;
}
.git{
    color:#f34f29;
}
.ai{
    color:#F79500;
}
.xd{
    color:#F75EEE;
}



/* The actual timeline (the vertical ruler) */
.timelinecontent {
    position: relative;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timelinecontent::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:var(--other-1);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 5px solid var(--primary);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    padding: 10px 40px 10px 10px;
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
    padding: 10px 10px 10px 40px;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    box-shadow: -1px 1px 21px -5px rgba(0,0,0,0.64);
    position: relative;
    border-radius: 6px;
  }

  .container h2{
    font: normal normal bold 15px/20px Saira;
    align-self: left;
    color: var(--other-1);
  }

.cert{
    font: normal normal bold 20px/30px jost;
    color: #6937FF;
}
.name{
    font: normal normal bold 25px/40px Saira;
    color: #141C3A;
}
.desc{
    text-align: justify;
    font: normal 16px jost;
    color: #141C3A;
    
}



/* Projects section*/
.bloc-tabs {
    display: flex;
    
  }
 
.tabs {
    font: normal normal bold 20px jost;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    outline: none;
}
.tabs{
    border: none
}
  
.active-tabs  {
    background: white;
    border-bottom: 1px solid var(--button-1);
}
  
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: var(--other-1);
}  

.content-tabs {
    flex-grow : 1;
}

.pcontent {
    background: white;
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.active-content {
    display: block;
}


.applist , .illustrations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.appcard{
    width:300px;
    background-color: white;
    box-shadow: -1px 1px 21px -5px rgba(0,0,0,0.64);
    border-radius: 6px;
    margin: 10px;
    transition: var(--transition);
}

.appcard:hover{
   transform: scale(1.05);
}
.appcard img{
    height:170px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.appcontent{
    padding: 10px;
}

.apptitle, .iname{
    font: normal normal bold 24px saira;
    color: var(--secondary);

}
.appdesc{
    font: normal normal 18px jost;
    color: var(--secondary);
}   
.appres{
    font: normal normal 16px jost;
    color: var(--secondary);
    align-items: baseline;
    display: flex;
    
}

.appres ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.appres ul li{
    color: white;
    margin:2px;
    list-style: none;
    padding: 3px 10px;
    background-color: var(--other-1);
    border-radius: 50px;
}




.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    transition: var(--transition);
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
  }
  
  .column img:hover {
    transform: scale(1.04);
  }


@media(max-width: 1070px) {
    .icard{
        width:100%;
    }
    .intro{
        flex-wrap: wrap;
        padding: 0 5%;
        margin-top: 50px;
        text-align: center;
    }

    #main-image{
        margin-top: 20px;
        height: 100%;
        width: 100%;
    }

    .about{
        padding: 3% 5%;
        text-align: center;
    }
    .about h2{
        align-self: center;

    }
    
    .abouttext{
        align-self: center;

    }
    
    .button-resume{
        align-self: center;
    }

    .skills, .timeline, .projtitle{
        padding: 3% 5%;
        text-align: center;
    }

    .skillcard{
        margin: 10px 0px;
        height:150px;
        width:200px;
    }
    /* Place the timelime to the left */
    .timelinecontent::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    text-align: left;
    width: 100%;
    padding-left: 70px;
    padding-right: 0px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
  }

  @media(max-width: 425px) {
    .skillcard{
        margin: 5px 0px;
        height:140px;
        width:135px;
    } 
    .cardlogo{
        font-size: 50px;
    }
    
    
    
    .cardtitle{
        font: normal normal bold 25px jost;
        color: #141C3A;
    }
    
    .level{
        font: normal normal  14px Saira;
        color: #141C3A;
    }

    .appcard{
        width:100%;
    }
    
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }

  }

  @media(max-width: 400px) {
    .appcard{
        width:100%;
    }

    .appcard img{
        height:130px;
        width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .apptitle{
        font: normal bold 22px saira;  
    }

    .appdesc{
        font: normal 16px jost;  
    }

    .appres ul{
        font: normal 14px jost; 
        margin-top: 10px;
        
    }
    
    .appres ul li{
        padding: 3px 6px;
    }
  }