:root {
  --primary: #6937ff;
  --secondary: #141c3a;
  --button-1: #6937ff;
  --other-1: #dd4b25;
  --transition: all 0.3s linear;
}
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Home page*/

.intro {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  margin-bottom: 50px;
  flex-wrap: wrap;
}


.columnm {
  justify-content: center;
  align-items: center;
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0px 4px;
  transition: var(--transition);
  text-align: center;
}

#main-image {
  margin-top: 10px;
  width: 70%;
}

#mtitle {
  font: normal normal bold 50px Saira;
  color: #141c3a;
}

#stitle {
  margin-top: 20px;
  font: normal 20px Jost;
  color: #141c3a;
}

.abtbtn {
  font: normal 20px Jost;
  border: 2px solid var(--primary);
  background-color: var(--button-1);
  padding: 10px 50px;
  color: white;
  border-radius: 50px;
  margin: 20px;
}

.abtbtn:hover {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* Home page End*/


/*About*/

.abtback {
  background-color: var(--primary);
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 15%;
  color: white;
}

.about h2 {
  align-self: start;
  color: white;
  font: normal normal bold 40px / 80px Saira;
}

.abouttext {
  align-self: start;
  margin-top: 20px;
  color: white;
  text-align: justify;
  font: normal normal 25px / 36px Jost;
}

.button-resume {
  align-self: start;
  margin-top: 50px;
  padding: 15px 60px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  font: normal normal bold 20px Jost;
  color: white;
}

.button-resume:hover {
  background-color: white;
  border-radius: 50px;
  font: normal normal bold 20px Jost;
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

/* About Page End*/

/* Skills page End*/
.skills,
.timeline,
.projects,
.contacts {
  padding: 3% 15%;
}

.skill,
.timetitle,
.projtitle {
  font: normal normal bold 50px Saira;
  color: #141c3a;
}

.skilltitle {
  font: normal 20px Jost;
  color: #141c3a;
}

.skilllist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skillcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0px;
  height: 150px;
  width: 245px;
  box-shadow: -1px 1px 21px -14px rgba(0, 0, 0, 0.64);
  border-radius: 5px;
  text-align: center;
}

.cardlogo {
  font-size: 60px;
}

.cardtitle {
  font: normal normal bold 30px jost;
  color: #141c3a;
}

.level {
  font: normal normal 16px Saira;
  color: #141c3a;
}

.html {
  color: #dd4b25;
}
.css {
  color: #254bdd;
}
.boot {
  color: #5e2ca7;
}
.django {
  color: #2aa473;
}
.javascript {
  color: #efd81d;
}
.react {
  color: #61dbfb;
}
.git {
  color: #f34f29;
}
.ai {
  color: #f79500;
}
.xd {
  color: #f75eee;
}
/* Skills page End*/

/* Timeline*/

.timelinecontent {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline  */
.timelinecontent::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--other-1);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 5px solid var(--primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 10px 40px 10px 10px;
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
  padding: 10px 10px 10px 40px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  box-shadow: -1px 1px 21px -5px rgba(0, 0, 0, 0.64);
  position: relative;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.year {
  font: normal normal bold 15px/20px Saira;
  color: var(--other-1);
}

.cert {
  font: normal normal bold 20px/30px jost;
  color: #6937ff;
}
.name {
  font: normal normal bold 25px/40px Saira;
  color: #141c3a;
}
.desc {
  text-align: justify;
  font: normal 16px jost;
  color: #141c3a;
}


/* Projects section*/

.bloc-tabs {
  display: flex;
}

.tabs {
  font: normal normal bold 20px jost;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  outline: none;
}
.tabs {
  border: none;
}

.active-tabs {
  background: white;
  border-bottom: 1px solid var(--button-1);
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: var(--other-1);
}

.content-tabs {
  flex-grow: 1;
}

.pcontent {
  background: white;
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: none;
}

.active-content {
  display: block;
}

.applist,
.illustrations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.appcard {
  width: 300px;
  background-color: white;
  box-shadow: -1px 1px 21px -5px rgba(0, 0, 0, 0.64);
  border-radius: 6px;
  margin: 15px;
  transition: var(--transition);
}

.appcard:hover {
  transform: scale(1.05);
}
.appcard img {
  height: 170px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.appcontent {
  padding: 10px;
}

.apptitle,
.iname {
  font: normal normal bold 24px saira;
  color: var(--secondary);
}
.appdesc {
  font: normal normal 18px jost;
  color: var(--secondary);
}
.appres {
  font: normal normal 16px jost;
  color: var(--secondary);
  align-items: baseline;
  display: flex;
}

.appres ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.appres ul li {
  color: white;
  margin: 5px;
  list-style: none;
  padding: 3px 10px;
  background-color: var(--other-1);
  border-radius: 50px;
}

.grptitle {
  font: normal normal bold 20px jost;
  padding: 10px 0px;
  margin-top: 10px;
  color: var(--secondary);
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

/* Create  equal columns that sits next to each other */
.column {
  -ms-flex: 50%; 
  flex: 50%;
  max-width: 50%;
  padding: 0px 4px;
  transition: var(--transition);
}

.designs {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: var(--transition);
  cursor: pointer;
}

.logo {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: var(--transition);
  cursor: pointer;
}

.designs:hover {
  transform: scale(1.04);
}

/*contact*/
.contacts {
  color: white;
}
.contact {
  font: normal normal bold 50px Saira;
  color: white;
}

.contacttitle {
  font: normal 20px Jost;
  color: white;
}
.conrow {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.concolumn {
  -ms-flex: 50%; 
  flex: 50%;
  max-width: 50%;
  transition: var(--transition);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form label {
  font: normal 20px jost;
}

textarea {
  height: 150px;
}

.sendbtn {
  font: normal 24px Jost;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 30px;
  color: white;
  border-radius: 50px;
}
.sendbtn:hover {
  background-color: white;
  color: var(--button-1);
}

.contact-form {
  padding: 10px 0px;
}

.contactd {
  padding: 10px 0px;
  font: normal 20px Jost;
  color: white;
}

.contactdata {
  font: normal 20px Jost;
}

@media (max-width: 1070px) {
  .icard {
    width: 100%;
  }
  .intro {
    flex-wrap: wrap;
    padding: 0 5%;
    margin-top: 50px;
    text-align: center;
  }

  #main-image {
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }

  .about {
    padding: 3% 5%;
    text-align: center;
  }
  .about h2 {
    align-self: center;
  }

  .abouttext {
    align-self: center;
  }

  .button-resume {
    align-self: center;
  }

  .skills,
  .skilltitle,
  .timeline,
  .projtitle,
  .contact,
  .contacttitle,
  .contactd {
    text-align: center;
  }

  .bloc-tabs {
    justify-content: center;
  }

  .skills,
  .timeline,
  .projects,
  .contacts {
    padding: 3% 5%;
  }

  .skillcard {
    margin: 10px 0px;
    height: 150px;
    width: 200px;
  }

  .timelinecontent::after {
    left: 31px;
  }


  .container {
    text-align: left;
    width: 100%;
    padding-left: 70px;
    padding-right: 0px;
  }


  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left::after,
  .right::after {
    left: 15px;
  }


  .right {
    left: 0%;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .concolumn {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .skillcard {
    margin: 5px 0px;
    height: 140px;
    width: 135px;
  }
  .cardlogo {
    font-size: 50px;
  }

  .cardtitle {
    font: normal normal bold 25px jost;
    color: #141c3a;
  }

  .level {
    font: normal normal 14px Saira;
    color: #141c3a;
  }

  .appcard {
    width: 100%;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .appcard {
    width: 100%;
  }

  .appcard img {

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .apptitle {
    font: normal bold 22px saira;
  }

  .appdesc {
    font: normal 16px jost;
  }

  .appres ul {
    font: normal 14px jost;
    margin-top: 10px;
  }

  .appres ul li {
    padding: 3px 6px;
  }
}
