


/* Timeline*/

.timeline{
    background-color: var(--newPrimary);
    padding:50px 0px
}
.timetitle {
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--newSecondary);
  }

.timelinecontent {
    position: relative;
    margin: 0 auto;
  }
  
  /* The actual timeline  */
  .timelinecontent::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: var(--newSecondary);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timelinecontainer {
    position: relative;
    background-color: transparent;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timelinecontainer::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 5px solid var(--newSecondary);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    padding: 10px 40px 10px 10px;
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
    padding: 10px 10px 10px 40px;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--newbackground);
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--newbackground) transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: var(--newbackground);
    box-shadow: -1px 1px 21px -5px rgba(0, 0, 0, 0.64);
    position: relative;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  
  .year {
    font-family: var(--secondaryFont);
    font-size: 1rem;
    color: var(--newSecondary);
  }
  
  .cert {
    font-family: var(--primaryFont);
    font-size: 1.5rem;
    color: var(--newText);
  }
  .name {
    font-family: var(--primaryFont);
    font-size: 1.2rem;
    color: var(--newSecondary);
    margin-top:10px
  }
  .desc {
    text-align: justify;
    font-family: var(--secondaryFont);
    font-size: 1rem;
    color: var(--newText);
    margin-top:10px
  }
  
  @media (max-width: 1070px) {

  
    .timelinecontent::after {
      left: 31px;
    }
  
  
    .timelinecontainer {
      text-align: left;
      width: 100%;
      padding-left: 70px;
      padding-right: 0px;
    }
  
  
    .timelinecontainer::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent var(--newPrimary) transparent transparent;
    }
  
  
    .left::after,
    .right::after {
      left: 15px;
    }
  
  
    .right {
      left: 0%;
    }
  
   
  }
