.footer {
    background-color: var(--newPrimary);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .foottext {
    text-align: center;
    font-family: var(--primaryFont);
    color: white;
  }