.footer {
    background-color: var(--newPrimary);
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foottext {
    text-align: center;
    font-family: var(--primaryFont);
    color: white;
    margin: 5px;
  }
  .footer a{
    text-align: center;
    font-family: var(--primaryFont);
    color: white;
    margin: 5px;
    transition: var(--transition);
  }

  .footer a:hover{
    letter-spacing: 0.2em;
    color: var(--newSecondary);
  }