:root {
  --primary: #6937ff;
  --secondary: #141c3a;
  --button-1: #6937ff;
  --other-1: #dd4b25;
  --transition: all 0.3s linear;
}
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  
}


.logo {
  font: normal bold 3.5rem jost;
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.logo:hover {
  color: var(--primary);
  opacity: 0.8;
}

.navlinks {
  display: flex;
}
.navitems {
  padding: 10px 20px;
  list-style: none;
}
.togglebtn {
  cursor: pointer;
  display: none;
  font-size: 30px;
  color: var(--primary);
  transition: var(--transition);
}

.togglebtn:hover {
  cursor: pointer;
  color: var(--secondary);
}

.item-links {
  font: normal normal bold 30px Jost;
  color: var(--secondary);
  text-decoration: none;
  transition: all 0.3s ease 0s;
  display: block;
  cursor: pointer;
}

.item-links:hover {
  color: var(--primary);
  opacity: 0.8;
}

.button {
  font: normal 1rem Jost;
  color: var(--primary);
  border: 2px solid var(--primary);
  background: transparent;
  padding: 8px 30px;
  border-radius: 50px;
}

.button:hover {
  color: white;
  background-color: var(--primary);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.footer {
  background-color: var(--secondary);
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foottext {
  text-align: center;
  font: normal 16px Jost;
  color: white;
}

@media (max-width: 1070px) {
  .navlinks {
    height: 0;
    overflow: hidden;
    width: 100%;
    padding: 0;
    flex-direction: column;
    transition: var(--transition);
  }

  .btndiv {
    height: 0;
    overflow: hidden;
    width: 100%;
    padding: 0;
    flex-direction: column;
    text-align: center;
    transition: var(--transition);
  }

  .active {
    display: block;
    height: 17rem;
  }
  .activeb {
    display: block;
    height: 4rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5%;
  }

  .loto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .togglebtn {
    display: block;
  }

  .navitems {
    text-align: center;
  }
}
