
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --newPrimary:#141628;
  --newSecondary:#FD4370;
  --newbackground:#1B1E32;
  --newText:white;


  --primaryFont:'Montserrat', sans-serif;
  --secondaryFont:'Poppins', sans-serif;

  --primary: #6937ff;
  --secondary: #141c3a;
  --button-1: #6937ff;
  --other: #dd4b25;
  --transition: all 0.3s linear;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container{
    width: min(1320px, 95%);
    margin:0 auto;
}

.main_view{
  min-height: 100vh;
}